.player-page {
  max-width: 1000px;
  margin: 0 auto;
}


.player-header {
  margin-bottom: 25px;
}


.back-button {
  border: none;
  background: transparent;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;
}


.player-card-main {
  display: flex;

  gap: 30px;

  align-items: center;

  padding: 30px;

  border-radius: 15px;

  margin-bottom: 30px;
}


.player-photo img {
  width: 150px;
  height: 150px;

  object-fit: contain;
}


.player-main-info h1 {
  margin-bottom: 5px;
}


.nationality {
  margin-bottom: 20px;
}


.player-details {
  display: flex;

  gap: 30px;
}


.player-details div {
  display: flex;

  flex-direction: column;

  gap: 4px;
}


/*
==========================================
SEASON
==========================================
*/

.season-selector {
  display: flex;

  align-items: center;

  gap: 15px;

  margin-bottom: 30px;
}


.season-selector label {
  font-weight: 700;

  font-size: 17px;
}


.season-selector select {
  min-width: 140px;

  padding: 10px 14px;

  border-radius: 8px;

  border: 1px solid #ccc;

  font-size: 16px;

  cursor: pointer;

  background: white;
}


/*
==========================================
STATISTICS
==========================================
*/

.statistics-section h2 {
  margin-bottom: 20px;
}


.statistics-card {
  padding: 20px;

  border-radius: 12px;

  margin-bottom: 20px;
}


.club-info {
  display: flex;

  align-items: center;

  gap: 12px;

  margin-bottom: 20px;
}


.club-info img {
  width: 50px;

  height: 50px;

  object-fit: contain;
}


.club-info div {
  display: flex;

  flex-direction: column;
}


.competition {
  font-size: 14px;

  margin-top: 4px;
}


.season {
  font-size: 13px;

  font-weight: 700;

  margin-top: 3px;
}


/*
==========================================
STATISTICS GRID
==========================================
*/

.statistics-grid {
  display: grid;

  grid-template-columns:
    repeat(7, 1fr);

  gap: 15px;
}


.statistics-grid div {
  display: flex;

  flex-direction: column;

  gap: 5px;
}


.statistics-grid strong {
  font-size: 13px;
}


.statistics-grid span {
  font-size: 18px;

  font-weight: 700;
}


/*
==========================================
NO STATISTICS
==========================================
*/

.no-statistics {
  padding: 30px;

  text-align: center;

  border-radius: 10px;
}


/*
==========================================
RESPONSIVE
==========================================
*/

@media (max-width: 800px) {

  .player-card-main {
    flex-direction: column;

    text-align: center;
  }


  .player-details {
    justify-content: center;
  }


  .statistics-grid {
    grid-template-columns:
      repeat(2, 1fr);
  }

}